@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
  }
  
  body::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 60%);
  }
  
  /* body::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:linear-gradient(#2196f3,#e91e63);
    clip-path: circle(30% at 10% 70%);
  } */
  .container{
    position: relative;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
    /* max-width: 1200px; */
    
    z-index: 1;
    margin-top: 20px;
  }
  .container .card{
  position: relative;
  width: 350px;
  height: 430px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  }
  .container .card .content{
    padding: 20px;
    text-align: center;
    /* transform: translateY(30px); */
    opacity: 0.5;
    transition: 0.5s;
    position: absolute;
  }
  
/* .info{
position: absolute;
width: 100%;
} */
  .container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
    position: absolute;
  }
  
  .container .card .content h2{
    font-size: 1.8em;
    color: rgb(211, 208, 203);
    z-index: 1;
  }
  .container .card .content p{
    color: white;
  }
  .project_link{
    color: black;
    background: white;
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .code{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .code_icons{
    display: flex;
    justify-content: space-evenly;
    color: white;
  }
  
  /* .inner-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  } */
  .card-img{
    width: 350px;
    height: 180px;
    object-fit: cover;
  }
  .card-img-overlay{
    top: 100px;
    
  }
  .card-footer{
    font-size: 15px;
    letter-spacing: normal;
        color: rgb(19, 18, 16);
    
  }
  .webscrape{
    filter: blur(1.5px);
  -webkit-filter: blur(1.5px);
  }
  .card-container{
    border-top: 1px solid rgba(255, 255, 255, 0.637);
  border-left: 1px solid rgba(255, 255, 255, 0.445);
  backdrop-filter: blur(5px);
  width: 350px;
  height: 500px;
  }
  .home-button{
    float: right;
  margin-right: 15px;
  font-size: 35px !important;
  margin-top: 45px;
  }

  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {


    body::before{
      z-index: 1;
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      height: 140%;
      width: 100%;
      background:linear-gradient(#f00,#f0f);
      clip-path: circle(30% at right 60%);
    }

    .container{
      position: relative;
      display: grid;
     grid-template-columns: 1fr  ;
      max-width: 430px;
      
      z-index: 1;
      margin-top: 20px;
    }

  }


